* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background: url('../public/images/back.jpeg') no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}
